<div class="row">
  <div class="col-lg-12">
    <h1>レストラン一覧</h1>
  </div>
  <div class="col-lg-6">
    <p>レストラン情報が表示されます。</p>
  </div>
  <div class="col-lg-6">
    <%= link_to 'レストラン登録', new_shop_path, class: "btn btn-default pull-right" %>
  </div>
  <table class="table table-striped">
    <thead>
      <td>店名</td>
      <td>詳細</td>
      <td>画像</td>
      <td>予算下限</td>
      <td>予算上限</td>
      <td>ジャンル</td>
      <td>エリア</td>
      <td>レビュー平均</td>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <td><%= truncate(shop.description, length: 50) %></td>
          <td><%= image_tag shop.image %></td>
          <td><%= shop.budget_min %></td>
          <td><%= shop.budget_max%></td>
          <td><%= shop.genre.name %></td>
          <td><%= shop.area.name %></td>
          <td><%= shop.review_avg%></td>
          <td><%= link_to '詳細', shop, class: "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
