<%= form_with model: [shop, review], local: true do |form| %>
  <% if review.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= review.errors.count %>件のエラーがあります</b></p>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %><br />
    <%= form.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br />
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field" id="star">
    <%= form.label :evaluation %>
    <%= form.hidden_field :evaluation, id: :evaluation_star %>
  </div>

  <div class="form-group">
    <%= form.label :image %><br>
    <%= image_tag review.image if review.persisted? %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.hidden_field :shop_id, value: review.shop_id %>

  <%= form.hidden_field :user_id, value: current_user.id %>


  <div class="form-group">
    <%= form.submit "投稿する！", class: 'btn btn-default' %>
  </div>
<% end %>
